name: CI

on: [ push, workflow_dispatch ]

jobs:
  test:
    runs-on: macos-12
    steps:
      - uses: actions/checkout@v2
      - name: Run TESTS
        run: fastlane unit_test
      - uses: codecov/codecov-action@v1
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          fail_ci_if_error: true

  build_for_package_managers:
    needs: test
    runs-on: macos-12
    steps:
      - uses: actions/checkout@v2
      - name: Validate Cocoapods Can Deploy (lib lint)
        run: fastlane cocoapods_liblint