name: CI

on: [ workflow_dispatch, pull_request ]

jobs:
  test:
    runs-on: self-hosted
    steps:
      - uses: actions/checkout@v2
      - name: Run TESTS
        run: fastlane unit_test
      - uses: codecov/codecov-action@v1
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          fail_ci_if_error: true

  build_for_package_managers:
    needs: test
    runs-on: self-hosted
    steps:
      - uses: actions/checkout@v2
      - name: Validate SwiftPM BUILDs
        run: fastlane build_swiftpm
      - name: Validate Cocoapods Can Deploy (lib lint)
        run: fastlane cocoapods_liblint